@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*overflow-x: hidden;*/
    font-family: 'Quicksand', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

:root{
    --MainThemeColor: #1a237e;
}

.mainHeader{
    background-color: transparent;
    position: fixed;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.mainHeaderColor{
    background-color: var(--MainThemeColor);
    position: fixed;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
#profilePic{
    width: 100%;
    margin: 50px auto;
    max-width: 160px;
    transform: translate3d(0, -50%, 0);
    /*position: absolute;*/
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 50% !important;
    height: auto;
    vertical-align: middle;
    border-style: none;

}
.headerPictureContainer{
    height: 1000vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.mainTitle{
    font-family: 'Quicksand', sans-serif;
    /*float: left;*/
    margin-top: .75em;
    font-size: 1.5em;
    font-family: 'Maven Pro', sans-serif;
}
.colorLogo{
    width: 4em;
    float: left;
    margin-right: 40px;
    margin-left: 0%;
    box-shadow: 0px 0px 50px 1px white;
    border-radius: 1000px;
}

.whiteLogo{
    width: 4em;
    float: left;
    margin-right: 40px;
    margin-left: 0%;
    margin-top: 10px;
}

.navLinks{
    float: right;
    color: white;
}
.navLinks a{
    font-size: .8em;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    margin-top: -5px;

}

.mobileNavLink{
    color: black;
}

.navLinks a:hover{

}

.headerDiv{
    margin: 0 auto;
    max-width: 1150px;
    padding: 1.45rem 1.0875rem;
}

.bigTejasMehta{
    color: white;
    text-align: center;
    margin-left: auto;
    padding-top: 20vh;
    font-size: 4em;
    font-family: Quicksand, sans-serif;
    /*left: 50%;*/
}



.hi{

}

.downArrow{
    font-size: 1.8em;
    color: white;
    border-radius: 100%;
    transition: linear .5s;
}

#hippl{
    backgroundColor: "black";
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    margin-top: 0px;
}

.quicksand{
    font-family: Quicksand, sans-serif;
}

figcaption.codingLanguage{
    text-align: center;
    background-color: rgba(0,0,0,.6);
    margin-right: auto;
    margin-left: auto;
    /*text-shadow: 2px 2px 1px #000,*/
    /*-2px -2px 1px #000,*/
    /*-2px 2px 1px #000,*/
    /*2px -2px 1px #000;*/
    /*-webkit-text-stroke-color: black;*/
    padding: 10px 10px;
    font-weight: 900;
    border-radius: 25px;
}

figure.codingLanguage{
    margin: 0;
    float: left;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    width: 20%;
    margin-right: 5%;
}
img.codingLanguage{
}
.dynamicContainer{
    margin-left: auto;
    color: white;
    margin-right: auto;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.appear{
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.disappear{
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.bioCard{
    padding: 150px 10% 5% 10%;
    margin-top: -220px;
    border-radius: 20px;
}

br.clear{
    clear: both;
}
hr.skillLine{
    margin-top: 30px;
    color: white;
    height: 3px;
    border-radius: 100px;
    width: 100%;
    clear: both;
    background-color: white;
}

.downArrow:hover{
    color: lightblue;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: rgba(33, 150, 243, .4) radial-gradient(circle, transparent 1%, rgba(0,0,0,.9) 1%) center/15000%;
}
.ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
    color: white;
}
.buttonBlue {
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: #2196f3;
    box-shadow: 0 0 4px #999;
    outline: none;
}

a.ripple{
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: transparent;
    /*box-shadow: 0 0 4px #999;*/
    outline: none;
}


.start {
    transform: scale(0.2);
}
.active {
    transform: scale(2);
    transition: transform 700ms, opacity 700ms;
    opacity: 0.2;
}


.tripleDescription{
    margin-top: 30px;
    font-family: Quicksand, sans-serif;
}

.mainHeader, .mainHeaderColor{
    z-index: 1000;
    width: 100%;
}

.textLink{
    text-decoration: none;
    color: darkblue;
    border-radius: 15px;
    padding: 1px 4px;
    margin: 0px 2px;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.textLink:hover{
    color: white;
    background-color: darkblue;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;

}

.frontEnd.appear img, .frontEnd.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

.backEnd.appear img, .backEnd.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

.deploymentDB.appear img, .deploymentDB.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

@keyframes crescendo {
    0%   {transform: scale(0);}
    100% {transform: scale(1);}
}



@media screen and (min-width: 1200px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;

    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .navLinks{
        display: none;
    }
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}
@media screen and (max-width: 499px) {
    .navLinks{
        display: none;
    }
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
    .mainTitle{
        display: none;
    }
}

@media screen and (orientation: portrait){
    .navLinks{
        display: none;
    }

    .dynamicContainer{
        width: 90%;
    }
    #aboutLocation{
        position: absolute;
        top: 450px;
    }
    figcaption.codingLanguage{
        width: 100%;
        font-size: 80%;
    }
    figure.codingLanguage{
        margin-right: 2%;
        width: 23%;
    }

}

@media screen and (orientation: landscape){
    #mobileNav{
        display: none;
    }
    @media screen and (max-width: 1050px){
        .dynamicContainer{
            width: 70%;
        }
    }
    @media screen and (min-width: 1051px) {
        .dynamicContainer {
            width: 50%;
        }
    }
    figcaption.codingLanguage{
        width: 7em;
    }

    #aboutLocation{
        position: absolute;
        top: 300px;
    }
}
