@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html,body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*overflow-x: hidden;*/
    font-family: 'Quicksand', sans-serif;
    -webkit-tap-highlight-color: transparent;
}



:root{
    --MainThemeColor: #1a237e;
}

.materialIcon{

}

.mainHeader h1 h2 h3 h4 h5 h6{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1.dynamicContainer, h2.dynamicContainer, h3.dynamicContainer, h4.dynamicContainer, h5.dynamicContainer, h6.dynamicContainer{
    font-family: Quicksand, sans-serif !important;
}

.dynamicContainer h1, .dynamicContainer h2, .dynamicContainer h3, .dynamicContainer h4, .dynamicContainer h5, .dynamicContainer h6{
    font-family: Quicksand, sans-serif !important;
}

.resumeFrame{
    width: 100%;
    height: 1150px;
}

.mainHeader{
    background-color: transparent;
    position: fixed;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.transitionFade{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.mainHeaderColor{
    background-color: var(--MainThemeColor);
    position: fixed;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#profilePic{
    width: 100%;
    margin: 50px auto;
    max-width: 160px;
    transform: translate3d(0, -50%, 0);
    /*position: absolute;*/
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 50% !important;
    height: auto;
    vertical-align: middle;
    border-style: none;

}
.headerPictureContainer{
    /*height: 1000vh;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 5%;
}
.mainTitle{
    font-family: 'Quicksand', sans-serif;
    /*float: left;*/
    margin-top: .75em;
    font-size: 1.5em;
    font-family: 'Maven Pro', sans-serif;
}
.colorLogo{
    width: 4em;
    float: left;
    margin-right: 40px;
    margin-left: 0%;
    box-shadow: 0px 0px 50px 1px white;
    border-radius: 1000px;
}

.whiteLogo{
    width: 4em;
    float: left;
    margin-right: 40px;
    margin-left: 0%;
    margin-top: 10px;
}

.whiteLogo:hover{
    border-radius: 40px;
}

.navLinks{
    float: right;
    color: white;
}
.navLinks a{
    font-size: .8em;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    margin-top: -5px;

}

.mobileNavLink{
    color: black;
}

.navLinks a:hover{

}

.headerDiv{
    margin: 0 auto;
    max-width: 1150px;
    padding: 1.45rem 1.0875rem;
}

.bigTejasMehta{
    color: white;
    text-align: center;
    margin-left: auto;
    padding-top: 20vh;
    font-size: 4em;
    font-family: Quicksand, sans-serif;
    /*left: 50%;*/
}



.hi{

}

.downArrow{
    font-size: 1.8em;
    color: white;
    border-radius: 100%;
    transition: linear .5s;
}

#hippl{
    backgroundColor: "black";
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    margin-top: 0px;

}

.quicksand{
    font-family: Quicksand, sans-serif;
}

figcaption.codingLanguage{
    text-align: center;
    background-color: rgba(0,0,0,.6);
    margin-right: auto;
    margin-left: auto;
    /*text-shadow: 2px 2px 1px #000,*/
    /*-2px -2px 1px #000,*/
    /*-2px 2px 1px #000,*/
    /*2px -2px 1px #000;*/
    /*-webkit-text-stroke-color: black;*/
    padding: 10px 10px;
    font-weight: 900;
    border-radius: 25px;
}

figure.codingLanguage{
    margin: 0;
    float: left;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    width: 20%;
    margin-right: 5%;
}
img.codingLanguage{
}
.dynamicContainer{
    margin-left: auto;
    color: white;
    margin-right: auto;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.appear{
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;

}

.disappear{
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;

}

.bioCard{
    padding: 150px 10% 5% 10%;
    margin-top: -220px;
    border-radius: 20px;
}

br.clear{
    clear: both;
}
hr.skillLine{
    margin-top: 30px;
    color: white;
    height: 3px;
    border-radius: 100px;
    width: 100%;
    clear: both;
    background-color: white;
}

.downArrow:hover{
    color: lightblue;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: rgba(33, 150, 243, .4) radial-gradient(circle, transparent 1%, rgba(0,0,0,.9) 1%) center/15000%;
}
.ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
    color: white;
}
.buttonBlue {
    border: none;
    border-radius: 30px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    /*background-color: #2196f3;*/
    background-color: #217ef3;
    box-shadow: 0 0 4px #999;
    outline: none;
}

.buttonBlue:hover{
    background-color: var(--MainThemeColor);
}

.buttonWhite {
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    /*box-shadow: 0 0 4px #999;*/
    outline: none;
}

.buttonWhite:hover{
    color: white;
}

a.ripple{
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: transparent;
    /*box-shadow: 0 0 4px #999;*/
    outline: none;
}


.start {
    transform: scale(0.2);
}
.active {
    transform: scale(2);
    transition: transform 700ms, opacity 700ms;
    opacity: 0.2;
}


.tripleDescription{
    margin-top: 30px;
    font-family: Quicksand, sans-serif;
}

.mainHeader, .mainHeaderColor{
    z-index: 1000;
    width: 100%;
}

.textLink{
    text-decoration: none;
    color: darkblue;
    border-radius: 15px;
    padding: 1px 4px;
    margin: 0px 2px;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.textLink:hover{
    color: white;
    background-color: darkblue;
    -webkit-transition: opacity .2s ease-in;
    -moz-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;

}

.HomeDepotDiv{

    border-radius: 4px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}



.ZimperiumDiv{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;

    border-radius: 4px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}



.JobDescription{
    font-weight: 400;
}

.WorkDiv{
    /*width: 80%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.WorkText{
    color: white;
}

.WorkText h1, h2, h3{
    font-family: Quicksand, sans-serif;
}

.WorkText p{
    font-size: 1em;
    margin-bottom: 2px;
}


.WorkPicture{
    height: 100%;
    border-radius: 40%;
}
.WorkPicture:hover{
    border-radius: 20px;
}
.react-pdf__Page__canvas{
    width: 100%!important;
    height: auto!important;
}


.react-pdf__Page {
    display: flex!important;
    justify-content: center!important; }
.InvertColors:hover{
    -webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
    background-color: black;
}
.frontEnd.appear img, .frontEnd.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

.backEnd.appear img, .backEnd.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

.deploymentDB.appear img, .deploymentDB.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

@keyframes crescendo {
    0%   {transform: scale(0);}
    100% {transform: scale(1);}
}

.FormControlContact{
    border-radius: 40px!important;
    padding-left: 10px;
}
.contactInputLabel{
    padding-left: 10px!important;
}
.contactInputAdornment{
    padding-right: 10px!important;
}

.contactInputDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand, sans-serif!important;
}

.contactInputDiv > input{
    font-family: Quicksand, sans-serif!important;
}

.MuiFormLabel-root, label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined, .MuiInputBase-root, #outlined-adornment-name, #outlined-adornment-email, #outlined-adornment-message {
    font-family: quicksand, sans-serif;
    font-weight: 400;
}

.smallBlueHR{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    border-radius: 20px;
    background-color: var(--MainThemeColor)
}

.MainModal{
    outline: 0;
    margin: auto;
    top: 40%!important;
}

.rootDivModal{
    outline: 0;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;

    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .navLinks{
        display: none;
    }
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}
@media screen and (max-width: 499px) {
    .navLinks{
        display: none;
    }
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
    .mainTitle{
        display: none;
    }
}

@media screen and (orientation: portrait){
    .WorkImageDiv{
        margin-right: auto;
        height: 30%;
        width: 50%;
        margin-left: auto;
    }

    .WorkPicture{
        width: 100%;
        margin-top: 7.5px;
    }

    .WorkText{
        padding: 15px;
    }



    .WorkText h1{
        font-size: 1.5em;
    }
    .WorkText h3{
        font-size: 1em;
    }



    .centerButtonMobile{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .WorkText button{
        text-align: center;
        width: 100%;
    }
    .HomeDepotDiv, .ZimperiumDiv {
        height: 350px;
    }

    .navLinks{
        display: none;
    }

    .dynamicContainer{
        width: 90%;
    }
    .disappear.HomeDepotDiv{
        transform: translate(calc(-111%),0px);
    }
    .disappear.ZimperiumDiv{
        transform: translate(calc(111%),0px);


    }
    #aboutLocation{
        position: absolute;
        top: 450px;
    }
    figcaption.codingLanguage{
        width: 100%;
        font-size: 80%;
    }
    figure.codingLanguage{
        margin-right: 2%;
        width: 23%;
    }

}

@media screen and (orientation: landscape){
    #mobileNav{
        display: none;
    }
    @media screen and (max-width: 1050px){
        .dynamicContainer{
            width: 70%;
        }
        .disappear.HomeDepotDiv{
            transform: translate(calc(-142%),0px);
        }
        .disappear.ZimperiumDiv{
            transform: translate(calc(142%),0px);

        }
    }
    @media screen and (min-width: 1051px) {
        .dynamicContainer {
            width: 50%;
        }
        .disappear.ZimperiumDiv{
            transform: translate(calc(200%),0px);
        }
        .disappear.HomeDepotDiv{
            transform: translate(calc(-200%),0px);
        }
    }
    figcaption.codingLanguage{
        width: 7em;
    }

    #aboutLocation{
        position: absolute;
        top: 300px;
    }
    .WorkImageDiv{
        float: left;
        width: 40%;
        height: 100%;
        padding: 50px 30px 50px;
    }

    .WorkText{
        float: right;
        color: white;
        padding: 30px;
        text-align: right;
        width: 60%;
    }

    .HomeDepotDiv, .ZimperiumDiv {
        height: 325px;
    }
}



.Toaster__alert {
    background-color: #FF6461;
    overflow: hidden;
    max-width: 650px;
    position: relative;
    border-radius: 0.4rem;
    display: flex;
    padding: 1rem;
    padding-right: 48px;
    box-shadow: rgba(52, 58, 64, 0.15) 0px 1px 10px 0px,
    rgba(52, 58, 64, 0.1) 0px 6px 12px 0px,
    rgba(52, 58, 64, 0.12) 0px 6px 15px -2px;
}

.Toaster__alert_text {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0px;
}

.Toaster__alert_close {
    padding: 12px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 4px;
    border-radius: 0.4rem;
    border: 0;
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

.Toaster__alert_close:focus {
    box-shadow: rgba(52, 58, 64, 0.15) 0px 0px 0px 3px;
}

.Toaster__message-wrapper {
    padding: 8px;
}
