@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons&display=swap");
html,body {
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*overflow-x: hidden;*/
    font-family: 'Quicksand', sans-serif;
    -webkit-tap-highlight-color: transparent;
}



:root{
    --MainThemeColor: #1a237e;
}

.col-3{
    width: 33%;
    float: left;
}

.col-2{
    width: 50%;
    float: left;
}

.iframeContainer{
    margin-left: auto;
    margin-right: auto;
}

.centerItem{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.verticallyAlign{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.materialIcon{

}

.faPlatform{
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 1.5vw;
}

.faLanguage{
    margin-right: 20px;
    text-align: right;
    margin-bottom: 15px;
    font-size: 1vw;
}

.projectIcon{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 0;
    margin-bottom: 0;
}

.projectFigure{
    position: relative;
    overflow: hidden;
    height: inherit;
    border-radius: 12px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.locoEatsFigure{
    background-color: white;
}

.upliftStressFigure{
    background: linear-gradient(rgb(51, 122, 183), rgb(186, 92, 11));
}

.craveRNFigure{
    background-color: #1D90FF;
}

.flowcusFigure{
    background-color: black;
}

.satoriFigure{
    background: radial-gradient(purple, black);
}

.droneFigure{
    background-color: #1B237E;
}

.tejastdoitFigure{
    background: radial-gradient(#bc7300, #003a97);
}
.projectContainer{
    width: calc(50% - 14px);
    margin-left: 5px;
    margin-right: 5px;
    float: left;
    /*margin-top: -15px;*/
}

.projectCaption{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    height: 100%;
    width: 100%;
    -webkit-transition: filter .4s ease;
    -moz-transition: filter .4s ease;
    -o-transition: filter .4s ease;
    transition: filter .4s ease;
    background-color: rgba(0, 38, 126, 0.71);
    filter: opacity(0%);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.figureFrameworksLeft{
    position: absolute;
    bottom: 0;
    left: 0;
}

.figureFrameworksRight{
    position: absolute;
    width: 65%;
    bottom: 0;
    right: 0;
}
/*.projectCaption:hover{*/
/*    filter: opacity(100%);*/
/*    background-color: black;*/
/*    z-index: 1000000;*/
/*}*/

.projectCaption:hover{
    /*transform: scale(1.5);*/
    -webkit-transition: filter .4s ease;
    -moz-transition: filter .4s ease;
    -o-transition: filter .4s ease;
    transition: filter .4s ease;
    filter: opacity(100%);
}

.projectCaption:hover + .projectIcon{
    transform: scale(1.5);
    filter: opacity(20%);
}

.projectCaption:hover + .projectIcon .projectIcon{
    transform: scale(1.5);
    filter: opacity(20%);
}


.projectCaption p{
    font-size: 1.5vw;
    line-height: 150%;
    text-align: center;
    margin-top: 5%;
}

.container {
    display: flex;
    justify-content: space-between;
}

.mainHeader h1 h2 h3 h4 h5 h6{
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1.dynamicContainer, h2.dynamicContainer, h3.dynamicContainer, h4.dynamicContainer, h5.dynamicContainer, h6.dynamicContainer{
    font-family: Quicksand, sans-serif !important;

}

.dynamicContainer h1, .dynamicContainer h2, .dynamicContainer h3, .dynamicContainer h4, .dynamicContainer h5, .dynamicContainer h6{
    font-family: Quicksand, sans-serif !important;
}

.sectionTitle{
    text-align: center;
    text-shadow: black;
}

.resumeFrame{
    width: 100%;
    height: 1150px;
}

.mainHeader{
    background-color: transparent;
    position: fixed;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.transitionFade{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.mainHeaderColor{
    background-color: var(--MainThemeColor);
    position: fixed;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
#profilePic{
    width: 100%;
    margin: 50px auto;
    max-width: 160px;
    transform: translate3d(0, -50%, 0);
    /*position: absolute;*/
    box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    border-radius: 50% !important;
    height: auto;
    vertical-align: middle;
    border-style: none;

}

.circleIcon{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 0;
    margin-bottom: 0;
}

.circleFigure{
    position: relative;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
}



#extracurricularsTitle{
    text-align: center;
    margin-bottom: 0;
    position: absolute;
    left: calc(50% - 60px);
    /*transform: translateY(300%);*/

}

.circleContainer {

}



.rotatingCircle{

}

.headerPictureContainer{
    /*height: 1000vh;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-bottom: 5%;
}
.mainTitle{
    font-family: 'Quicksand', sans-serif;
    /*float: left;*/
    margin-top: .75em;
    font-size: 1.5em;
    font-family: 'Maven Pro', sans-serif;
}
.colorLogo{
    width: 4em;
    float: left;
    margin-right: 40px;
    margin-left: 0%;
    box-shadow: 0px 0px 50px 1px white;
    border-radius: 1000px;
}

.whiteLogo{
    width: 4em;
    float: left;
    margin-right: 40px;
    margin-left: 0%;
    margin-top: 10px;
}

.whiteLogo:hover{
    border-radius: 40px;
}

.navLinks{
    float: right;
    color: white;
}


.center{
    margin-left: auto;
    margin-right: auto;
}

.socialIcon{
    font-size: 2em;
    color: black;
}

.socialIcon:hover{
    color: dodgerblue;
}

.navLinks a{
    font-size: .8em;
    float: left;
    margin-right: 10px;
    text-decoration: none;
    color: white;
    margin-top: -5px;

}

.mobileNavLink{
    color: black;
}

.navLinks a:hover{

}

.headerDiv{
    margin: 0 auto;
    max-width: 1150px;
    padding: 1.45rem 1.0875rem;
}

.bigTejasMehta{
    color: white;
    text-align: center;
    margin-left: auto;
    padding-top: 20vh;
    font-size: 4em;
    font-family: Quicksand, sans-serif;
    /*left: 50%;*/
}



.hi{

}

.downArrow{
    font-size: 1.8em;
    color: white;
    border-radius: 100%;
    transition: linear .5s;
}

#hippl{
    backgroundColor: "black";
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    margin-top: 0px;

}

.quicksand{
    font-family: Quicksand, sans-serif;
}

figcaption.codingLanguage{
    text-align: center;
    background-color: rgba(0,0,0,.6);
    margin-right: auto;
    margin-left: auto;
    /*text-shadow: 2px 2px 1px #000,*/
    /*-2px -2px 1px #000,*/
    /*-2px 2px 1px #000,*/
    /*2px -2px 1px #000;*/
    /*-webkit-text-stroke-color: black;*/
    padding: 10px 10px;
    font-weight: 900;
    border-radius: 25px;
}

figure.codingLanguage{
    margin: 0;
    float: left;
    margin-right: auto;
    margin-left: auto;
    align-content: center;
    width: 20%;
    margin-right: 5%;
}
img.codingLanguage{
}
.dynamicContainer{
    margin-left: auto;
    color: white;
    margin-right: auto;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}

.appear{
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;

}

.disappear{
    opacity: 0;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;

}

.bioCard{
    padding: 150px 10% 5% 10%;
    margin-top: -220px;
    border-radius: 20px;
}

br.clear{
    clear: both;
}
hr.skillLine{
    margin-top: 30px;
    color: white;
    height: 3px;
    border-radius: 100px;
    width: 100%;
    clear: both;
    background-color: white;
}

.downArrow:hover{
    color: lightblue;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
}
.ripple:hover {
    background: rgba(33, 150, 243, .4) radial-gradient(circle, transparent 1%, rgba(0,0,0,.9) 1%) center/15000%;
}
.ripple:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
    color: white;
}

#workExperience{
    margin-top: 40px;
}
.buttonBlue {
    border: none;
    border-radius: 30px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    /*background-color: #2196f3;*/
    background-color: black;
    box-shadow: 0 0 4px #999;
    outline: none;
}

.buttonBlue:hover{
    background-color: var(--MainThemeColor);
}

.buttonWhite {
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: black;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    /*box-shadow: 0 0 4px #999;*/
    outline: none;
}

.buttonWhite:hover{
    color: white;
}

a.ripple{
    border: none;
    border-radius: 2px;
    padding: 12px 18px;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background-color: transparent;
    /*box-shadow: 0 0 4px #999;*/
    outline: none;
}


.start {
    transform: scale(0.2);
}
.active {
    transform: scale(2);
    transition: transform 700ms, opacity 700ms;
    opacity: 0.2;
}


.tripleDescription{
    margin-top: 30px;
    font-family: Quicksand, sans-serif;
}

.mainHeader, .mainHeaderColor{
    z-index: 1000;
    width: 100%;
}

.textLinkLight.textLink{
    font-weight: 600;
    text-decoration: none;
    color: #34b5ff;
    border-radius: 15px;
    padding: 1px 4px;
    margin: 0px 2px;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}
.textLink{
    text-decoration: none;
    color: #1965bb;
    border-radius: 15px;
    padding: 1px 4px;
    margin: 0px 2px;
    -webkit-transition: background-color .2s ease;
    -moz-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
}



.textLink:hover{
    color: white;
    background-color: var(--MainThemeColor);
    -webkit-transition: background-color .2s ease-in;
    -moz-transition: background-color .2s ease-in;
    -o-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;

}

.WorkSlideRightDiv{

    border-radius: 4px;
    -webkit-transition: all 1s ease-in;
    -moz-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
}



.ZimperiumDiv{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
    background-size: 10px 10px, 10px 10px, 10px 5px;
    background-position: 0px 0px, 5px 5px, 0px 0px;

    border-radius: 4px;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

.UNTDiv{
    background-color: #006A31;
}

.JobDescription{
    font-weight: 400;
}

.WorkDiv{
    /*width: 80%;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.WorkText{
    color: white;
}

.WorkText h1, h2, h3{
    font-family: Quicksand, sans-serif;
}

.WorkText p{
    font-size: 1em;
    margin-bottom: 2px;
}


.WorkPicture{
    height: 100%;
    border-radius: 40%;
}
.WorkPicture:hover{
    border-radius: 20px;
}
.react-pdf__Page__canvas{
    width: 100%!important;
    height: auto!important;
}


.react-pdf__Page {
    display: flex!important;
    justify-content: center!important; }
.InvertColors:hover{
    -webkit-filter: invert(100%) grayscale(100%);
    filter: invert(100%) grayscale(100%);
    background-color: black;
}
.frontEnd.appear img, .frontEnd.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

.backEnd.appear img, .backEnd.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

.deploymentDB.appear img, .deploymentDB.appear figcaption{
    animation: crescendo .6s alternate ease-in;
}

@keyframes crescendo {
    0%   {transform: scale(0);}
    100% {transform: scale(1);}
}

.FormControlContact{
    border-radius: 40px!important;
    padding-left: 10px;
}
.contactInputLabel{
    padding-left: 10px!important;
}
.contactInputAdornment{
    padding-right: 10px!important;
}

.contactInputDiv{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: Quicksand, sans-serif!important;
}

.contactInputDiv > input{
    font-family: Quicksand, sans-serif!important;
}

.MuiFormLabel-root, label.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined, .MuiInputBase-root, #outlined-adornment-name, #outlined-adornment-email, #outlined-adornment-message {
    font-family: quicksand, sans-serif;
    font-weight: 400;
}

.projectPageTitle{
    color: white;
    text-align: center;
    padding-top: 50px;
    font-family: Quicksand, sans-serif;
}

.smallBlueHR{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    border-radius: 20px;
    background-color: var(--MainThemeColor)
}

.smallWhiteHR{
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    border-radius: 20px;
    background-color: white;
}

.MainModal{
    outline: 0;
    margin: auto;
    top: 40%!important;
}

.rootDivModal{
    outline: 0;
    text-align: center;
}

@media screen and (min-width: 1200px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 800px) and (max-width: 999px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;

    }
}

@media screen and (min-width: 600px) and (max-width: 799px) {
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}

@media screen and (min-width: 500px) and (max-width: 799px) {
    .navLinks{
        display: none;
    }
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
}
@media screen and (max-width: 499px) {
    .navLinks{
        display: none;
    }
    .mainHeader, .mainHeaderColor{
        width: 100%;
    }
    .mainTitle{
        display: none;
    }
}

@media screen and (orientation: portrait){
    .WorkImageDiv{
        margin-right: auto;
        height: 30%;
        width: 50%;
        margin-left: auto;
    }

    .WorkPicture{
        width: 100%;
        margin-top: 7.5px;
    }

    .WorkText{
        padding: 15px;
    }



    .WorkText h1{
        font-size: 1.5em;
    }
    .WorkText h3{
        font-size: 1em;
    }



    .centerButtonMobile{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .WorkText button{
        text-align: center;
        width: 100%;
    }
    .WorkDiv {
        height: 350px;
    }

    .navLinks{
        display: none;
    }

    .dynamicContainer{
        width: 90%;
    }
    .disappear.WorkSlideRightDiv{
        transform: translate(calc(-111%),0px);
    }
    .disappear.ZimperiumDiv{
        transform: translate(calc(111%),0px);


    }
    #aboutLocation{
        position: absolute;
        top: 450px;
    }
    figcaption.codingLanguage{
        width: 100%;
        font-size: 80%;
    }
    figure.codingLanguage{
        margin-right: 2%;
        width: 23%;
    }

}

@media screen and (orientation: landscape){
    #mobileNav{
        display: none;
    }
    @media screen and (max-width: 1050px){
        .dynamicContainer{
            width: 70%;
        }
        .disappear.WorkSlideRightDiv{
            transform: translate(calc(-142%),0px);
        }
        .disappear.ZimperiumDiv{
            transform: translate(calc(142%),0px);

        }
    }
    @media screen and (min-width: 1051px) {
        .dynamicContainer {
            width: 50%;
        }
        .disappear.ZimperiumDiv{
            transform: translate(calc(200%),0px);
        }
        .disappear.WorkSlideRightDiv{
            transform: translate(calc(-200%),0px);
        }

        #extracurricularsTitle{
            margin-top: 100px;
        }
    }
    figcaption.codingLanguage{
        width: 7em;
    }

    #aboutLocation{
        position: absolute;
        top: 300px;
    }
    .WorkImageDiv{
        float: left;
        width: 40%;
        height: 100%;
        padding: 50px 30px 50px;
    }

    .WorkText{
        float: right;
        color: white;
        padding: 30px;
        text-align: right;
        width: 60%;
    }

    .WorkDiv {
        height: 325px;
    }

    #extracurricularsTitle{
        margin-top: 70px;
    }
}




.Toaster__alert {
    background-color: #FF6461;
    overflow: hidden;
    max-width: 650px;
    position: relative;
    border-radius: 0.4rem;
    display: flex;
    padding: 1rem;
    padding-right: 48px;
    box-shadow: rgba(52, 58, 64, 0.15) 0px 1px 10px 0px,
    rgba(52, 58, 64, 0.1) 0px 6px 12px 0px,
    rgba(52, 58, 64, 0.12) 0px 6px 15px -2px;
}

.Toaster__alert_text {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: white;
    -webkit-font-smoothing: antialiased;
    font-weight: 600;
    line-height: 1.5;
    font-size: 1rem;
    margin: 0px;
}

.Toaster__alert_close {
    padding: 12px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    top: 7px;
    right: 4px;
    border-radius: 0.4rem;
    border: 0;
    -webkit-appearance: none;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.5;
}

@media screen and (max-width: 600px){
    #extracurricularsTitle{
        opacity: 0;
    }
}

@media screen and (max-width: 1050px) {
    .circlePhotography{
        position: absolute;
        right: calc(50% - 75px);
        transition: right .8s ease;
        /*transform: translateX(-100%);*/
    }

    .circle3D{
        position: absolute;
        right: calc(50% - 75px);
        transition: right .8s ease;
        /*transform: translateX(100%);*/
    }

    .appear .circlePhotography{
        right: calc(25% - 87.5px);
    }

    .circleFigure{
        width: 175px;
    }

    .appear .circle3D{
        right: calc(75% - 87.5px);
    }
}

@media screen and (min-width: 1051px) {
    .circlePhotography{
        position: absolute;
        right: calc(50% - 125px);
        transition: right .8s ease;
        /*transform: translateX(-100%);*/
    }

    .circle3D{
        position: absolute;
        right: calc(50% - 125px);
        transition: right .8s ease;
        /*transform: translateX(100%);*/
    }
    .circleFigure{
        width: 250px;
    }

    .appear .circlePhotography{
        right: calc(0% - 125px + 32.5%);
    }

    .appear .circle3D{
        right: calc(100% - 125px - 32.5%);
    }
}

.Toaster__alert_close:focus {
    box-shadow: rgba(52, 58, 64, 0.15) 0px 0px 0px 3px;
}

.Toaster__message-wrapper {
    padding: 8px;
}
